.sidebar{
	-fx-background-color: #7289da;
}

.footbar{
	-fx-background-color: #2c2f33;
}

.mainpanel{
	-fx-background-color: #23272a;
}

.buttons{
	-fx-background-color: #5e3ded;
	-fx-border-color: #000000;
}