.sidebar{
	-fx-background-color: #7289da;
}

.footbar{
	-fx-background-color: #095207;
}

.mainpanel{
	-fx-background-color: #23272a;
}

.buttons{
	-fx-background-color: #354051;
	-fx-border-color: #000000;
}