.sidebar{
	-fx-background-color: #343e63;
}

.footbar{
	-fx-background-color: #095207;
}

.mainpanel{
	-fx-background-color: #23272a;
}

.buttons{
	-fx-background-color: #354051;
	-fx-border-color: #000000;
}

.default-color0.chart-series-line {
	-fx-stroke: #7289da;
}
.default-color0.chart-line-symbol { 
	-fx-border-color: white;
	-fx-background-color: #7289da;
	-fx-shape: circle;
}

